* {
  font-family: "MuseoSans";
}

.item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.poster-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: 0 0 5px rgba(255, 255, 0, 0.8), 0 0 10px rgba(255, 255, 0, 0.8);
}

.title {
  padding: 15px 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  color: white;
  text-shadow: 0 0 5px rgba(255, 255, 0, 0.8), 0 0 10px rgba(255, 255, 0, 0.8);
}

.release {
}
