<header [class.sticky]="isSticky">
  <div class="first-part">
    <img class="logo" src="../../../assets/images/logo.svg" alt="Logo" />
  </div>
  <div class="second-part">
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/Genre">Genre</a></li>
        <li><a routerLink="/movies">Movies</a></li>
        <li><a routerLink="/shows">TV Shows</a></li>
      </ul>
    </nav>
  </div>
  <div class="third-part">
    <button class="search">
      <fa-icon [icon]="faSearch"></fa-icon>
    </button>
    <button class="saved">
      <fa-icon [icon]="faBookmark"></fa-icon>
    </button>
    <button class="account">
      <fa-icon [icon]="faUser"></fa-icon>
    </button>
  </div>
</header>
