<header #headerElement *ngIf="isVisible" [class.sticky]="isSticky">
  <div class="first-part">
    <a href="/">
      <img class="logo" src="../../../assets/images/logo.svg" alt="Logo" />
    </a>
  </div>
  <div class="second-part">
    <nav *ngIf="!isSearchBarOn">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Genre">Genres</a></li>
        <li><a href="/movie">Movies</a></li>
        <li><a href="/shows">TV Shows</a></li>
      </ul>
    </nav>
    <div
      class="search-container"
      [style.pointer-events]="isSearchBarOn ? 'all' : 'none'"
      #searchContainer
    >
      <div *ngIf="isSearchBarOn" class="search-bar-container">
        <input
          class="search-bar"
          type="text"
          placeholder="Search for movies..."
          #searchQuery
          (input)="searchWhileTyping(searchQuery.value)"
        />
      </div>
      <div class="search-result-container" *ngIf="isSearchResultOn">
        <div class="result-item-container">
          <div class="result-item" *ngFor="let result of searchResults">
            <a class="movie-link" href="/movie/{{ result.id }}">
              <img
                class="result-poster-img"
                [src]="
                  'https://www.themoviedb.org/t/p/w440_and_h660_multi_faces' +
                  result.poster_path
                "
                alt="Movie Poster"
              />
            </a>

            <div class="result-movie-detail">
              <a class="movie-link" href="/movie/{{ result.id }}">
                <p class="result-movie-title">{{ result.title }}</p>
              </a>
              <p class="result-movie-release">{{ result.release_date }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="third-part">
    <button id="search" (click)="toggleSearchBar()" #searchButton>
      <fa-icon [icon]="isSearchBarOn ? faTimes : faSearch"></fa-icon>
    </button>
    <button class="saved">
      <fa-icon [icon]="faBookmark"></fa-icon>
    </button>
    <button class="account">
      <fa-icon [icon]="faUser"></fa-icon>
    </button>
  </div>
</header>
