.carousel-item {
  height: 100vh;
  width: 100%;
  display: flex;
}

.backdrop {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trending-container {
  position: static;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#carousel-container-big-list {
  width: 100%;
}

.movie-details-container {
  position: absolute;
  top: 50%;
  left: 20%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 5;
  transform: translate(0, -50%);
  overflow: hidden;
}

.movie-title-link {
  text-decoration: none;
}

.movie-title {
  font-weight: 600;
  font-family: "MuseoSans";
  line-height: 1.25;
  font-size: 60px;
  color: white;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  padding: 5px 15px;
  text-shadow: 0 0 10px rgba(255, 255, 0, 0.8), 0 0 20px rgba(255, 255, 0, 0.8);
}

.tagline-container {
  display: flex;
  align-items: baseline;
}

.tagline {
  font-family: "Dirtchunk";
  font-weight: 900;
  font-size: 20px;
  color: rgba(255, 167, 0, 0.6);
  letter-spacing: 3px;
}

.line-tag {
  font-weight: 600;
  font-size: 20px;
  width: 1.5px;
  margin-right: 5px;
  background-color: yellow;
}

.movie-release {
  color: white;
  font-family: "MuseoSans";
  font-size: 25px;
  margin: 0px;
  -webkit-text-stroke: 0.5px #fff;
  -webkit-text-fill-color: transparent;
}

.movie-overview {
  font-family: "MuseoSans";
  font-weight: normal;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  margin-top: 10px;
}

.button-container-big-list {
  display: flex;
  align-items: center;
  margin: 0 2%;
  position: absolute;
  z-index: 5;
}

#button-right {
  right: 0;
}
#button-left {
  left: 0;
}

.button-container-big-list button {
  border: none;
  background-color: transparent;
  font-size: 500%;
  color: white;
  height: 100%;
  transition: color 0.3s ease, font-size 0.3s ease;
  text-shadow: 0 0 10px rgba(255, 255, 0, 0.8), 0 0 20px rgba(255, 255, 0, 0.8);
}

.button-container-big-list button:hover {
  color: yellow;
  font-size: 1000%;
  text-shadow: 0 0 10px rgba(255, 255, 0, 0.8), 0 0 20px rgba(255, 255, 0, 0.8);
}

.overlay {
  position: absolute; /* Position the overlay content */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Add a semi-transparent background */
  box-sizing: border-box;
  z-index: 1;
}

.overlay:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 70%;
  background: linear-gradient(to left, transparent 70%, #151501 90%);
  pointer-events: none;
  z-index: 1;
}

.fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.8
  ); /* Add a background color for the fixed container */
  z-index: 1; /* Set a high z-index to ensure it stays above other content */
}

.placeholder {
  position: relative;
  width: auto;
  height: 100vh;
  background-color: transparent;
}

.features {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.score {
  font-size: 20px;
  font-family: "MuseoSans";
  color: rgba(255, 167, 0, 1);
  margin-right: 20px;
}

.rate {
  --w: 40px;
  width: var(--w);
  aspect-ratio: 1;
  display: inline-grid;
  place-content: center;
  margin-right: 5px;
  font-size: 15px;
  font-weight: bold;
  font-family: sans-serif;
  position: relative;
  color: #ff7400;
}

.rate:before,
.rate:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.rate:before {
  inset: 0;
  background: radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b)
      var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p) * 1%), #0000 0);
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(99% - var(--b)),
    #000 calc(100% - var(--b))
  );
  mask: radial-gradient(
    farthest-side,
    #0000 calc(99% - var(--b)),
    #000 calc(100% - var(--b))
  );
}
.rate:after {
  inset: calc(50% - var(--b) / 2);
  background: var(--c);
  transform: rotate(calc(var(--p) * 3.6deg))
    translateY(calc(50% - var(--w) / 2));
}

.trailer-button {
  padding: 10px;
  margin-top: 20px;
  font-size: 25px;
  font-family: "MuseoSans";
  font-weight: 700;
  color: black;
  background-color: yellow;
  border: 2px solid yellow;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.trailer-button:hover {
  background-color: transparent;
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 0, 0.8), 0 0 20px rgba(255, 255, 0, 0.8);
}

.youtube-player {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.overlay-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
