<div class="placeholder"></div>

<div class="fixed-container">
  <div class="trending-container">
    <div id="button-left" class="button-container-big-list">
      <button (click)="moveToPrevSlide()" *ngIf="!showYoutubePlayer">
        &#8249;
      </button>
    </div>
    <div id="carousel-container-big-list" class="carousel-container">
      <div
        *ngIf="showYoutubePlayer"
        class="overlay-cover"
        (click)="onOutsideClick()"
      ></div>
      <app-youtube-player
        *ngIf="showYoutubePlayer"
        class="youtube-player"
        videoID="{{ trailerVideoID }}"
      ></app-youtube-player>
      <owl-carousel-o #carousel [options]="carouselOptions">
        <ng-container *ngFor="let movie of movies">
          <ng-template carouselSlide [id]="movie.id">
            <div class="carousel-item">
              <img
                class="backdrop"
                [src]="
                  'https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces' +
                  movie?.backdrop_path
                "
              />
              <div class="movie-details-container">
                <div class="tagline-container">
                  <div class="line-tag">&nbsp;</div>
                  <p class="tagline">TRENDING</p>
                </div>
                <a class="movie-title-link" href="/movie/{{ movie.id }}">
                  <p class="movie-title">{{ movie.title }}</p>
                </a>
                <div class="features">
                  <div
                    class="rate"
                    [style.--p]="movie.vote_average * 10"
                    style="--b: 2.5px; --c: rgba(255, 167, 0, 1)"
                  >
                    {{ movie.vote_average }}
                  </div>
                  <p class="score">User Score</p>
                  <p class="movie-release">{{ movie.release_date }}</p>
                </div>
                <p class="movie-overview">{{ movie.overview }}</p>
                <button
                  class="trailer-button"
                  (click)="openYoutubePlayer(movie.id)"
                >
                  WATCH TRAILER
                </button>
              </div>
              <div class="overlay"></div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>

    <div id="button-right" class="button-container-big-list">
      <button (click)="moveToNextSlide()" *ngIf="!showYoutubePlayer">
        &#8250;
      </button>
    </div>
  </div>

  <div class="small-list-container">
    <div class="small-list">
      <button
        class="list-small-item"
        *ngFor="let movie of movies; let i = index"
        [ngClass]="{ active: i === activeSlideIndex }"
        (click)="listButtonClick(movie.id, i)"
      >
        <img
          class="backdrop"
          [src]="
            'https://www.themoviedb.org/t/p/w440_and_h660_multi_faces' +
            movie?.poster_path
          "
          alt="Movie Backdrop"
        />
      </button>
    </div>
  </div>
</div>
