.owl-carousel .owl-item {
  height: 100vh;
  width: 100%;
  display: flex;
}

.owl-carousel .owl-item img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.trending-container{
  position: static;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.carousel-container {
  width: 100%;
}

.nav-button-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

.movie-details-container {
  position: absolute;
  top: 50%;
  left: 20%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 2;
  transform: translate(0, -50%);
}

.movie-details-container p {
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: 'MuseoSans';
}

.tagline-container{
  display: flex;
  align-items: baseline;
  margin-bottom: 5px;
}

.tagline {
  font-weight: 900;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 3px;
}

.line-tag{
  font-weight: 600;
  font-size: 15px;
  width: 3px;
  margin-right: 5px;
  background-color: red;
}

.movie-title{
  font-weight: 600;
  font-size: 50px;
  color: white;
}

.button-container {
  display: flex;
  align-items: center;
  margin: 0 2%;
}

.button-container button {
  border: none;
  background-color: transparent;
  font-size: 500%;
  color: white;
  height: 100%;
  z-index: 999;
}

.overlay {
  position: absolute; /* Position the overlay content */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Add a semi-transparent background */
  box-sizing: border-box;
  z-index: 1;
}

.overlay:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 70%;
  background: linear-gradient(to left, transparent 70%, #151501 90%);
  pointer-events: none;
  z-index: 1;
}

.fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Add a background color for the fixed container */
  z-index: 1; /* Set a high z-index to ensure it stays above other content */
}


.placeholder{
  position: relative;
  width: auto;
  height: 100vh;
  background-color: transparent;
}