movie-item {
  display: flex;
  align-content: flex-start;
  width: 200px;
  height: 450px;
  flex-direction: column;
  margin-top: 10px;
  overflow: hidden;
}

.tag-container {
  display: flex;
  justify-content: center;
  margin: 50px 0 25px 0;
}

.tag {
  font-size: 30px;
  font-family: "Dirtchunk";
  letter-spacing: 2px;
  color: white;
}

.controller-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#carousel-container-list {
  width: 90vw;
  padding: 0 5vw;
  position: relative;
  z-index: 5;
}

.nav-button-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  transform: translateY(-60px);
  width: 100%;
}

.button-container-small-list {
  display: flex;
  align-items: center;
  margin: 0 2vw;
}

.button-container-small-list button {
  border: none;
  background-color: transparent;
  font-size: 500%;
  color: white;
  height: 100%;
  z-index: 999;
  transition: color 0.3s ease, font-size 0.3s ease;
}

.button-container-small-list button:hover {
  font-size: 750%;
}

.owl-theme .owl-dots .owl-dot span {
  background: #494949;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: rgb(255, 189, 68);
  box-shadow: 0 0 5px orange, 0 0 10px orange;
}
