<div class="list">
  <div class="tag-container">
    <p class="tag" [ngStyle]="getDynamicStyle()">{{ tag }}</p>
  </div>
  <div class="controller-container">
    <div id="carousel-container-list">
      <owl-carousel-o #carousel [options]="carouselOptions">
        <ng-container *ngFor="let movie of movies">
          <ng-template carouselSlide>
            <movie-item class="item" [movie]="movie"></movie-item>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>

    <div class="nav-button-container">
      <div class="button-container-small-list">
        <button (click)="moveToPrevSlide()" [ngStyle]="getDynamicStyle()">
          &#8249;
        </button>
      </div>
      <div class="button-container-small-list">
        <button (click)="moveToNextSlide()" [ngStyle]="getDynamicStyle()">
          &#8250;
        </button>
      </div>
    </div>
  </div>
</div>
