* {
  font-family: "MuseoSans";
}

.movie-container {
  display: flex;
  color: yellow;
  flex-direction: column;
}

.detail-container {
  height: 50vh;
  overflow: hidden;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2.5vh 15vw;
}

.detail-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
}
.content-container {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  z-index: 2;
}

.poster-img {
  height: 100%;
  width: auto;
  border-radius: 10px;
}

.movie-title {
  font-weight: 600;
  font-family: "MuseoSans";
  line-height: 1.25;
  font-size: 60px;
  color: white;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  padding: 5px 0 5px 15px;
  margin-left: -15px;
  margin-top: -10px;
  text-shadow: 0 0 10px rgba(255, 255, 0, 0.8), 0 0 20px rgba(255, 255, 0, 0.8);
}

.tagline {
  color: #a8a8a8;
  font-style: italic;
  margin-top: 10px;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-left: 50px;
}

.score-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.rate {
  --w: 50px;
  width: var(--w);
  aspect-ratio: 1;
  display: inline-grid;
  place-content: center;
  margin-right: 5px;
  font-size: 17px;
  font-weight: bold;
  font-family: sans-serif;
  position: relative;
  color: #ff7400;
}

.rate:before,
.rate:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.rate:before {
  inset: 0;
  background: radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b)
      var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p) * 1%), #0000 0);
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(99% - var(--b)),
    #000 calc(100% - var(--b))
  );
  mask: radial-gradient(
    farthest-side,
    #0000 calc(99% - var(--b)),
    #000 calc(100% - var(--b))
  );
}
.rate:after {
  inset: calc(50% - var(--b) / 2);
  background: var(--c);
  transform: rotate(calc(var(--p) * 3.6deg))
    translateY(calc(50% - var(--w) / 2));
}

.score-ui {
  font-family: "MuseoSans";
  color: rgba(255, 167, 0, 1);
}

.overview-ui {
  color: rgba(255, 167, 0, 1);
  font-weight: 900;
  margin-top: 10px;
  font-size: 25px;
}

.overview {
  font-weight: 100;
  margin-top: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
