@font-face {
  font-family: "MuseoSans";
  src: url("./assets/fonts/MuseoSans/MuseoSans_500.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans";
  src: url("./assets/fonts/MuseoSans/MuseoSans_700.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans";
  src: url("./assets/fonts/MuseoSans/MuseoSans_900.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("./assets/fonts/Merriweather/Merriweather-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("./assets/fonts/Merriweather/Merriweather-Italic.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Dirtchunk";
  src: url("./assets/fonts/Dirtchunk.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
